body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(248, 138, 138);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.upload-section, .output-section {
    margin: 20px 0;
    text-align: center;
}

button {
    background-color: #26db66;
    color: rgb(239, 244, 238);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #16da20;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #fbeb0b;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4febe8;
}
